.container {
  color: white;
  margin-top: 10px;
  padding: 25px;
  background-color: rgba(151, 7, 71);
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(151, 7, 71, 0.3);
}
.title {
  margin-bottom: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.formInput {
  padding: 10px;
  border-radius: 4px;
  color: black;
  border: 1px solid rgba(151, 7, 71, 0.5);
  width: 100%;
}
.submitBtn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  background-color: rgb(151, 7, 71);
  cursor: pointer;
}
