.appInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  background-color: rgb(151, 7, 71);
  color: #fff;
  border-radius: 8px;
  box-shadow: 15px 15px 30px rgba(151, 7, 71, 0.30);
}
.name {
  display: inline-block;
  color: black;
}
