.employeeItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(151, 7, 71);
  border-radius: 4px;
  padding: 10px 15px;

  cursor: pointer;
}
.listControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.controlsItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 25px;
  margin: auto;
}
.controlsItemRaise {
  color: green;
}
.controlsItemRaise:hover {
  color: goldenrod;
  transition: color 250ms linear;
}
.controlsItemDelete {
  color: brown;
}
.controlsItemDelete:hover {
  color: red;
  transition: color 250ms linear;
}
.controlsItemStar {
  color: white;
}
.raise {
  color: goldenrod;
}
.increase {
  font-weight: bold;
  color: goldenrod;
}